@mixin before_circle {
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 35px;
    height: 35px;
    background-color: $main-color;
    border-radius: 100%;
    left: 0;
    top: -25%;
  }
}
@mixin before_circle_item {
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      width: 35px;
      height: 35px;
      background-color: $main-color;
      border-radius: 100%;
      left: -50px;
      top: 0;
    }
  }
